
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
}
.header button{ 
    width: 183px; 
    height: 81px; 
    font-size: 22px; 
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.photo{
    margin-top: 6rem;
    margin-left: 44rem;

}
.yazi{
    position: absolute;
    margin-left: 32rem;
    margin-top: -13rem;
    transform: translate(-38%, -50%);
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}
.text-2{
    font-family: 'Roboto', sans-serif;
    margin-top: -7rem;
    margin-left: 13rem;
}
.strelka{
    /* margin-left: 25rem;
    margin-top: -40rem; */
    transform: translate(790%, -130%);
}
.sec-2{
    margin-top: 20rem;
    display: flex;
}
.w-photo{
    position: absolute;
    margin-top: 501px;
    transform: translate(-100%, -20%);
}
/* .m-photo{
    position: absolute;
    margin-top: 501px;
    transform: translate(176%, -637%);
} */
.woman{
    background: url('./image/woman.png') no-repeat;
    width: 700px;
    height: 700px;
}
.man{
    background: url('./image/man.png') no-repeat;
    width: 700px;
    height: 700px;
    margin-left: 43.7rem;
    margin-top: -43.8rem;
}
.btn-w{
    width: 280px;
    height: 110px;
    top: 510px;
    left: 440px;
    font-size: 18px;
    background: #FFBCBC;
    border: none;
    margin-top: 31.9rem;
    margin-left: 26.2rem;
}
.btn-m{
    width: 280px;
    height: 110px;
    top: 510px;
    left: 440px;
    font-size: 18px;
    background: #FFBCBC;
    border: none;
    margin-top: 31.9rem;
    margin-left: 26.3rem;
}

.container{
    width: 1300px;

   margin: 0 auto;

   }
   .cards{
       display: flex;
       justify-content: space-between;
   }
   
   .card-text{
       color: rgba(0, 0, 0, 1);
       text-align: center;
   }
   
   h1{
   width: 420px;
 
   }
   
   
    #newInStock p{
       font-size: 17px;
       font-weight: 400;
        text-align: right;
    }
   
   #root{
       display: flex;
       justify-content: space-between;
   }
   
   #Bestsellers{
       display: flex;
       justify-content: space-between;
   }
   
   #photo {
   width: 1300px;
   height: 600px;
   margin: 30px;
   display: flex;
       justify-content: space-between;
   
   }
   
   
   .blue-text{
       width: 800px;
       padding-left: 50px;
   
   background-color: rgba(170, 186, 208, 1);
   
   }
   .text{
    margin-top: 265px;
   }
   
   .text h5{
    width: 42px;
   height: 31px;
   font-family: Roboto;
   font-size: 19px;
   font-weight: 400;
   line-height: 31px;
   letter-spacing: 0em;
   text-align: left;
   
   }
   
   .text h4{
       font-family: Roboto;
       font-size: 70px;
       font-weight: 400;
       line-height: 109px;
       letter-spacing: 0em;
       text-align: left;
       
   
   }
   

   #image{
       display: flex;
       justify-content: space-between;
   }
   
.conteiner{
    width: 1300px;
    margin: 0 auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 190px;
}
.brand-info{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}
.brand-text{
    width: 470px;
    justify-content: space-between;
}
h1{
    font-size: 70px;
    font-weight: 700;
}
p{
    font-size: 20px;
    font-weight: 400; 
}
footer{
    background-color: lightslategray;
}
.yes{
    display: flex;
    justify-content: space-between;
}
.cards{
    display: flex;
    justify-content: space-between;
}
h5{
    font-size: 20px;
    font-weight: 700;
}
.brr{
    display: flex;
}
.krewe{
    display: flex;
}
.modern{
    display: flex;
    margin-top: 45px;
}
.yes h2{
    font-size: 69px;
    font-weight: 400;
}
.yes h3{
    font-size: 18px;
    font-weight: 700;
}
.brand-text{
    margin: 0 80px;
}
.bran-text h1{
    margin-bottom: 20px;
}
.brand-img{
    margin-right: 200px;
}



footer{
    margin-top: 150px;
}